<div class="container">
  <h2>My Cats</h2>
  <div class="row">
    <div class="col-lg-6 m-2">
      <div class="input-group">
        <input type="text" placeholder="Enter Cat Name" #catName class="form-control"
               aria-describedby="Add new cat name">
        <span class="input-group-btn">
         <!-- (click) passes input value to add() and then clears the input -->
          <button type="button" class="btn btn-outline-success"
                  (click)="add(catName.value); catName.value=''">Add</button>
      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-10 col-sm-12 m-2">
      <ul class="list-group">
        <li *ngFor="let cat of cats" class="list-group-item justify-content-between">
          <a routerLink="/detail/{{cat.id}}">
            <span class="badge badge-default badge-pill">{{cat.id}}</span>
            {{cat.name}}
          </a>
          <button type="button" class="float-right btn btn-outline-danger delete m-1" (click)="delete(cat)" title="delete cat">x</button>
          <button type="button" class="float-right btn btn-outline-info m-1" (click)="update(cat)" title="update cat">Edit</button>
        </li>
      </ul>
    </div>
  </div>
</div>

