<div class="container">
  <h3>Top Cats</h3>
  <div class="row marketing">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-cat-search></app-cat-search>
    </div>
    <div class="card col-lg-8 col-md-8 col-sm-12 m-3" *ngFor="let cat of cats">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{cat.name}}</h4>
        <p class="card-text">{{cat.description}}</p>
        <a routerLink="/detail/{{cat.id}}" class="btn btn-primary">Go to {{cat.name}} info</a>
      </div>
    </div>
  </div>
</div>
