<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h3 aria-roledescription="Top cats">Top Cats</h3>
      <app-cat-search></app-cat-search>
    </div>
    <div class="col-lg-7">
      <div class="card col-lg-8 col-md-8 col-sm-12 m-3" *ngFor="let cat of cats">
        <img class="card-img-top" src="{{cat.image}}" alt="Cat Photo"/>
        <div class="card-block">
          <h4 class="card-title">{{cat.name}}</h4>
          <p class="card-text">{{cat.description}}</p>
          <a routerLink="/detail/{{cat.id}}" class="btn btn-primary">Go to {{cat.name}} info</a>
        </div>
      </div>
    </div>
  </div>
</div>
